.shop-meta {
  table-layout: fixed;
  width: 100%; }
  .shop-meta th, .shop-meta td {
    padding: 3px; }
  .shop-meta th {
    width: 70px;
    text-align: left; }
  .shop-meta input {
    width: 100%; }
